
.headContainer{
  margin: auto;
  width: auto;
  padding: 10px;
  text-align: center;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 3%;
  padding-left: 25%;
  padding-right: 25%;
  height: 400px;
}

.row{
display:block;
color: white;
height: auto;
padding: .0;
}

.header-photo figure {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 40px;
  background-color:white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  
}

.bodyContainer{
  background-color:peachpuff;
  margin: auto;
  width: auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  color: #404040;
}

.footerContainer{
  background-color:darkgray;
  margin: auto;
  width: auto;
  height: 400px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1;
  text-align: center;
}

.navbar a {
  text-align: center;
  float: none;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:active {
  background: #ddd;
  color: peachpuff;
}

.navbar a:hover {
  background:peachpuff;
  color: black;
}

.bodyDiv{
  text-align: center;
  margin-top: 2%;  
  margin-left: 20%;
  margin-right: 20%;
}

.bodyDiv2{
  text-align: center;
  margin-top: 2%;  
  margin-left: 35%;
  margin-right: 35%;
  background-color: white;
  border: 1px gray double;
}

.block{
  text-align: left;
  background-color: rgb(88, 88, 88);
  color: white;
  display: block;
  padding: 1em;
}
