
.container{
    position:absolute;
    width: 70%;
}

.weapon{
    border:solid black 1px;
}
.element{
    border:solid black 1px;
}
.animal{
    border:solid black 1px;
}
.specialBodyPart{
    border:solid black 1px;
}
.colors{
    border:solid black 1px;
}
.occupation{
    border:solid black 1px;
}
.setting {
    border:solid black 1px;
}
.nature{
    border:solid black 1px;
}
.misc{
    border:solid black 1px;
}
.posPersonality{
    border:solid black 1px;
}
.nuePersonality{
    border:solid black 1px;
}
.negPersonality{
    border:solid black 1px;
}
.trope{
    border:solid black 1px;
}