div {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center; 
}

body {
  background: #808080;
  max-width: 800px;
  margin: auto;
  background: url(/images/rotwbg.png);
  font-family: 'Maven Pro', sans-serif;
}

p {
  background-color: white;
   padding: 10px;
   color:#383838;
   padding: 25px;
   line-height: 1.6;
   font-size: 1.2em;
   height: fit-content;
}

button {
  align-items: center;
  justify-content: center;
}

button {
  height: 100px;
  border-radius: 50px;
}

span {
  color: darkcyan;
  font-weight: bold;
}

.colorResult,
.colorResult1,
.colorResult2 {
  border: 1px black solid;
  color: black;
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

